<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyc.mapper.PasswordMapper">
    <select id="getcoll" resultType="String">
        select coll_adm_password from college_admin where account = #{account}
    </select>

    <select id="getins" resultType="String">
        select ins_password from instructor where account = #{account}
    </select>

    <select id="getstu" resultType="String">
        select stu_password from student_message where account = #{account}
    </select>

    <select id="getStu" resultType="com.bean.StudentMessage">
        select * from student_message where account = #{account}
    </select>

    <select id="getIns" resultType="com.bean.Instructor">
        select * from instructor where account = #{account}
    </select>

    <select id="getColl" resultType="com.bean.CollegeAdmin">
        select * from college_admin where account = #{account}
    </select>

</mapper>