<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <form action="/insert" method="post">
        <table>
            <tr>
                <td>姓名</td>
                <td><input type="text" name="stuName"></td>
            </tr>
            <tr>
                <td>性别<input type="text" name="stuSex"></td>
            </tr>
            <tr>
                <td>民族</td>
            </tr>
            <tr>
                <td>年级</td>
            </tr>
            <tr>
                <td>专业</td>
            </tr>
            <tr>
                <td>班级</td>
            </tr>
            <tr>
                <td>政治面貌</td>
            </tr>
            <tr>
                <td>身份证号</td>
            </tr>
            <tr>
                <td>班级职务</td>
            </tr>
            <tr>
                <td>联系电话<input type="text" name="stuPhoneNumber"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="提交OK">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>